:root {
  --purple: #282634;
  --button-purple: #292854;
  --button-purple-hover: #100f20;
  --grey: #3a3a3a;
  --black: #181617;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "open sans";
  font-weight: 600;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.6;
  background-color: var(--purple);
}

input,
input:focus {
  color: white;
  background-color: var(--grey);
  border: none;
  margin: 2px;
  padding: 16px 8px;
  outline: none;
}
button {
  background-color: var(--button-purple);
  color: white;
  border: none;
  padding: 16px 8px;
  font-weight: 800;
}
button:hover {
  background-color: var(--button-purple-hover);
  cursor: pointer;
}
h1 {
  color: white;
}
.input-fields {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.room-container {
  /* display: none; */
  display: flex;
  flex-direction: column;
  height: 100%;
}
.chat-footer {
  display: flex;
  position: absolute;
  bottom: -1px;
  width: 100%;
}
#text-field {
  width: 100%;
}
#send-button {
  width: 96px;
  height: 64px;
}
.chat-header {
  display: flex;
  background-color: var(--black);
  height: 10vh;
}
