*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: 600;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.6;
  color: #333;
  background-color: #282634;
}

input,
input:focus {
  color: white;
  background-color: #3a3a3a;
  border: none;
  margin: 2px;
  padding: 16px 8px;
  outline: none;
}
button {
  background-color: #292854;
  color: white;
  border: none;
  padding: 16px 8px;
  font-weight: 800;
}

.room-container {
  display: none;
}
