:root {
  --purple: #282634;
  --button-purple: #292854;
  --button-purple-hover: #100f20;
  --grey: #3a3a3a;
  --black: #181617;
  --danger: #f90101;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "open sans";
  font-weight: 600;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.6;
  background-color: var(--purple);
}

input,
input:focus {
  color: white;
  background-color: var(--grey);
  border: none;
  padding: 16px 8px;
  outline: none;
}
button {
  background-color: var(--button-purple);
  color: white;
  border: none;
  padding: 16px 8px;
  font-weight: 800;
}
button:hover {
  background-color: var(--button-purple-hover);
  cursor: pointer;
}
h1 {
  color: white;
}
.connection-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align:center;
}
.hidden {

  display: none !important;
}
.input-fields {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.room-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#text-field {
  width: 100%;
}
#send-button {
  width: 96px;
  height: 64px;
}

.chat-header {
  display: flex;
  position: fixed;
  background-color: var(--black);
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
}

.chat-body {
  margin: 10vh 0;
}
.chat-footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* .chat-footer.fixed-bar {
  position: fixed;
  bottom: 0;
} */
.icon {
  color: white;
  margin-left: 16px;
}
#leave-button {
  height: 56px;
  transition: 300ms;
  background-color: var(--black);
  &:hover {
    background-color: var(--danger);
  }
}

.message-container {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-bottom: 16px;
}

.message-sender {
  color: white;
}

.message {
  box-sizing: border-box;
  margin: 4px 16px;
  padding: 8px 16px;
  border-radius: 24px;
  width: fit-content;
  min-width: 64px;
  max-width: 256px;
  overflow-wrap: break-word;
}
#user-message {
  background-color: #008bfc;
}
#sender-message {
  background-color: green;
}
